name: Helm charts linting
on:
  push:
    branches:
    - main
    paths:
    - 'charts/**'
    - '.github/workflows/helm-charts-testing.yml'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.11.2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Run chart-testing (lint)
        run: |
          helm lint --with-subcharts charts/*
